@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@font-face {
    font-family: 'Balto';
    src: url('fonts/Balto-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Balto';
    src: url('fonts/Balto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Balto';
    src: url('fonts/Balto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Balto';
    src: url('fonts/Balto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

.scrolly-embed * {
    box-sizing: border-box;
}

.scrolly-embed {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Balto', sans-serif;
    color: #474747;
}

.panel {
    position: relative;
    height: 100vh;
    left: 50%;
    transform: translate(-50%);
    width: 1140px;
    outline: 1px solid red;
}

.slide {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 1140px;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
}

.sticky {
    position: fixed;
}



.panel-1 {
    margin-top: 35vh;
}

.caption-box {
    border-radius: 5px;
    text-align: left;
    position: absolute;
    opacity: 1;
    width: 500px;
    left: 5%;

}







.scrolly-embed h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.scrolly-embed p {
    font-size: 20px;
    line-height: 1.4em;
}

.scrolly-embed p:last-of-type {
    margin-bottom: 0;
}

.scrolly-embed .fw-700 {
    font-weight: 700;
}

.scrolly-embed .fw-500 {
    font-weight: 500;
}

.scrolly-embed .fw-400 {
    font-weight: 400;
}

.scrolly-embed .primary {
    color: #F45946;
}

.scrolly-embed .big {
    font-size: 40px;
}

.scrolly-embed .hand {
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    font-style: normal;
}

/* ARROWS */

.scrolly-embed .arrow-up-right {
    background-image: url('arrows/1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
}

.scrolly-embed .arrow-down-right {
    background-image: url('arrows/1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    transform: rotate(180deg) scaleX(-1);
}

.scrolly-embed .arrow-up-left {
    background-image: url('arrows/1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    transform: scaleX(-1);
}

/* GRID */

.scrolly-embed .se-row {
    display: flex;
    width: 100%;
}

.scrolly-embed .se-col {
    flex: 1;
    max-width: 33%;
    padding: 0 15px;
   
}

.scrolly-embed .se-row-2-up .se-col {
    max-width: 50% !important
}

/* CHART.JS */

.scrolly-embed .chart-container {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.scrolly-embed .chart-legend {
    text-align: center;
}

.scrolly-embed .legend-item {
    display: inline-block;
}

.scrolly-embed .legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 2px;
}

.scrolly-embed .legend-text {
    display: inline-block;
}

.scrolly-embed .chart-label {
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
}

/* CHART LABELS */

.scrolly-embed .chart-label {
    position: relative;
}

/* MARGINS AND PADDING */

.scrolly-embed .mt-1 {
    margin-top: 1em;
}

.scrolly-embed .mt-2 {
    margin-top: 2em;
}

.scrolly-embed .mt-3 {
    margin-top: 3em;
}

.scrolly-embed .mt-4 {
    margin-top: 4em;
}

.scrolly-embed .mt-5 {
    margin-top: 5em;
}

.scrolly-embed .mb-1 {
    margin-bottom: 1em;
}

.scrolly-embed .mb-2 {
    margin-bottom: 2em;
}

.scrolly-embed .mb-3 {
    margin-bottom: 3em;
}

.scrolly-embed .mb-4 {
    margin-bottom: 4em;
}

.scrolly-embed .mb-5 {
    margin-bottom: 5em;
}



/* STYLES */

.scrolly-embed .slide-1 .caption-box-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrolly-embed .caption-box-2, .caption-box-3, .caption-box-4 {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
   
}

.scrolly-embed .slide-3 .chart-label-1 {
    position: absolute;
    top: 12%;
    left: 57%;
    font-size: 2em;
}

.scrolly-embed .slide-3 .chart-label-1 .arrow-down-right {
    left: 50%;
    top: 120%;
}

.scrolly-embed .slide-3 .chart-label-2 {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 2em;
}

.scrolly-embed .slide-3 .chart-label-2 .arrow-down-right {
    left: 60%;
    top: 110%;
}

.scrolly-embed .slide-3 .chart-label-3 {
    position: absolute;
    top: 70%;
    right: 12%;
    font-size: 2em;
}

.scrolly-embed .slide-3 .chart-label-3 .arrow-up-left {
    left: 20%;
    top: -110%;
}

.scrolly-embed .slide-4 .caption-box-1 {
    max-width: 500px;
}



