@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@font-face {
    font-family: 'Balto';
    src: url('https://openupsa.github.io/health-e-news-scrolly/fonts/Balto-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Balto';
    src: url('https://openupsa.github.io/health-e-news-scrolly/fonts/Balto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Balto';
    src: url('https://openupsa.github.io/health-e-news-scrolly/fonts/Balto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Balto';
    src: url('https://openupsa.github.io/health-e-news-scrolly/fonts/Balto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

.scrolly {
    font-family: 'Balto', sans-serif;
    font-size: 11px;
}

.scrolly .scrolly-background {
    top: 5vh;
    aspect-ratio: 12 / 8;
}

.scrolly .scrolly-section {
    aspect-ratio: 12 / 8;
}


/*** MORE STYLES ***/

.scrolly-caption-box {
    color: #fff;
    padding: 2em;
    max-width: 78%;
    text-align: left;
}

.scrolly-caption-box-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

/*** CHARTS ***/

.scrolly .scrolly-chart-label-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrolly .scrolly-chart-label {
    display: inline-block;
    text-align: center;
    font-size: 0.7em;
    margin-top: 1em;
    font-weight: 700;
    color: #fff;
    padding: 0.5em 1em;
}

/*** ANNOTATIONS ***/

.scrolly-chart-annotation-arrow {
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #fff;
    transform: rotate(0deg);
    top: 100%;
    left: 50%;
}

.scrolly .scrolly-chart-annotation[data-chart-annotation-label] {
    position: absolute;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    text-wrap: nowrap;
    font-family: "Caveat", sans-serif;
}



/*** CHARTS ***/

.scrolly .scrolly-chart-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.scrolly-annotation {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

.scrolly-chart-annotation {
    opacity: 0;
}

.scrolly-annotation-inner {
    position: absolute;
    width: 100%;
}




/*** CHART CUSTIOMISATIONS ***/

.scrolly .scrolly-chart-1 .scrolly-annotation-inner {
    background-image: url('img/bg.png');
    background-size: cover;
    bottom: 3em;
    padding: 4em 0;
}

.scrolly .scrolly-chart-1 .scrolly-chart-container {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.scrolly .scrolly-chart-1 .scrolly-annotation-extra-info {
    font-size: 1em;
    color: #fff;
    position: absolute;
    bottom: 1em;
    padding: 0.8em;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    width: 80%;
}

.scrolly .scrolly-chart-2 .scrolly-annotation-inner {
    background-image: url('img/bg.png');
    background-size: cover;
    bottom: 0em;
    padding: 2em 0;
}

.scrolly .scrolly-chart-2 .scrolly-chart-container {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}





/*** HELPER CLASSES ***/

.scrolly .scrolly-primary {
    color: #F45946;
}

.scrolly .scrolly-secondary {
    color: #FFC107;
}

.scrolly h1 {
    font-size: 1.5em;
    margin: unset;
    margin-bottom: 0.8em;
    padding: unset;
    font-weight: 500;
    line-height: unset;
}

.scrolly .scrolly-fw-500 {
    font-weight: 500;
    display: inline;
}

.scrolly .scrolly-big {
    font-size: 1.5em;
}

.scrolly p {
    line-height: 1.3em;
}

.scrolly p:first-child {
    margin-top: 0;
}

.scrolly p:last-child {
    margin-bottom: 0;
}


.scrolly .scrolly-row {
    display: flex;
    width: 100%;
}

.scrolly .scrolly-col {
    flex: 1;
    max-width: 33%;
    padding: 0 15px;
}

.scrolly .scrolly-row-2-up .scrolly-col {
    max-width: 50% !important
}

.scrolly .scrolly-mt-1 {
    margin-top: 1em;
}

.scrolly .scrolly-mt-2 {
    margin-top: 2em;
}

.scrolly .scrolly-mt-3 {
    margin-top: 3em;
}

.scrolly .scrolly-mt-4 {
    margin-top: 4em;
}

.scrolly .scrolly-mt-5 {
    margin-top: 5em;
}

.scrolly .scrolly-mb-1 {
    margin-bottom: 1em;
}

.scrolly .scrolly-mb-2 {
    margin-bottom: 2em;
}

.scrolly .scrolly-mb-3 {
    margin-bottom: 3em;
}

.scrolly .scrolly-mb-4 {
    margin-bottom: 4em;
}

.scrolly .scrolly-mb-5 {
    margin-bottom: 5em;
}


/*** RESPONSIVENESS ***/

/* MOBILE LANDSCAPE */

@media (orientation: landscape) and (max-width: 767px) {
}

@media (min-width: 768px) {
    .scrolly {
        font-size: 20px;
    }
}


@media (min-width: 992px) {

    .scrolly {
        max-width: 960px;
        font-size: 22px;
    }

}

@media (min-width: 1200px) {

    /*** ANNOTATION CUSTMISATIONS ***/

    /* MALE / FEMALE */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="male"] {
        top: 20%;
        right: -2%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="male"] .scrolly-chart-annotation-arrow {
        width: 50px;
        top: 180%;
        left: -120%;
        transform: rotate(-40deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="female"] {
        top: 20%;
        left: -8%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="female"] .scrolly-chart-annotation-arrow {
        width: 50px;
        top: 180%;
        left: 110%;
        transform: rotate(40deg);
    }

    /* INSIDE/OUTSIDE */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="inside"] {
        top: -15%;
        left: 0%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="inside"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 215%;
        left: 95%;
        transform: rotate(60deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="outside"] {
        top: 100%;
        left: -10%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="outside"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: -90%;
        left: 90%;
        transform: rotate(120deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="both"] {
        top: -15%;
        left: 80%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="both"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 220%;
        left: -120%;
        transform: rotate(-60deg);
    }

    /* ACCESS */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="disabled-access-yes"] {
        top: -15%;
        left: 80%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="disabled-access-yes"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 215%;
        left: -70%;
        transform: rotate(-60deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="disabled-access-no"] {
        top: 100%;
        left: 90%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="disabled-access-no"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: -90%;
        left: -70%;
        transform: rotate(60deg);
    }

    /* USABLE/NOT USABLE */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="usable"] {
        top: -15%;
        left: 80%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="usable"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 215%;
        left: -70%;
        transform: rotate(-60deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="unusable"] {
        top: 100%;
        left: 90%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="unusable"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: -90%;
        left: -70%;
        transform: rotate(60deg);
    }

    /* TOILET PAPER */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="toilet-paper-yes"] {
        top: -15%;
        left: 90%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="toilet-paper-yes"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 215%;
        left: -50%;
        transform: rotate(-60deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="toilet-paper-no"] {
        top: 100%;
        left: -30%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="toilet-paper-no"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: -90%;
        left: 90%;
        transform: rotate(120deg);
    }

    /* SOAP */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="soap-yes"] {
        top: -15%;
        left: 90%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="soap-yes"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 215%;
        left: -70%;
        transform: rotate(-60deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="soap-no"] {
        top: 100%;
        left: -10%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="soap-no"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: -90%;
        left: 90%;
        transform: rotate(120deg);
    }

    /* DIRTY TOILETS */

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="dirty-wall"] {
        top: -15%;
        left: -30%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="dirty-wall"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 215%;
        left: 95%;
        transform: rotate(60deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="dirty-seat"] {
        top: 100%;
        left: -30%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="dirty-seat"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: -90%;
        left: 90%;
        transform: rotate(120deg);
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="dirty-toilet"] {
        top: -15%;
        left: 80%;
    }

    .scrolly .scrolly-chart-annotation[data-chart-annotation-label="dirty-toilet"] .scrolly-chart-annotation-arrow {
        width: 60px;
        top: 220%;
        left: -70%;
        transform: rotate(-60deg);
    }


}


/*** DEBUG ***/


.scrolly-chart-3, .scrolly-chart-4, .scrolly-chart-5, .scrolly-chart-6 {
    display: none;
}